div {
    background-color: gray;
    border: 2px solid #CCC;
    padding: 50px 50px 50px 50px;
    width: 300px;
    top: 50px;
    left: 50px;
}
#capa1 {
    position: fixed;
    background-color: rgb(14, 122, 0);
}